bridge_tc_library.egg-info
.idea
bridge_tc_library/.idea
bridge_tc_library/.venv
bridge_tc_library/__pycache__/*
bridge_tc_library/core/__pycache__/*
bridge_tc_library/movements/__pycache__/*
bridge_tc_library/tests/__pycache__/*
*.pyc